body {
	text-align: center;
	background-position: 50% 30;
	background: url("https://41.media.tumblr.com/0e7815885351122e39556817bc810177/tumblr_mssg4boZfN1shmiqno3_500.jpg");
	background-repeat: repeat-x;
	background-attachment: fixed;
}